* {
    text-align: center;
    font-family: 'Dosis', sans-serif;
}
body {
    min-height: 300px;
}
#buyBox {
    width: 30%;
    float: left;
    height: Auto;
    text-align: center;
    margin: 30px;
    margin-top: 0px;
}
#sellBox {
    margin: 30px;
    text-align: center;
    width: 30%;
    float: left;
    height: 200px;
    margin-top: 0px;
}
#categoryBox {
  text-align: center;
  float: left;
  height: 200px;
  width: 30%;
}
#categoryList {
    margin-right: 10px
    max-width: 30%;
}
#categoryh1 {
  font-size: 5em;
  font-weight: 700;
  overflow: hidden;
  text-decoration: solid underline
}
/* .link {
    position: relative;
    display: inline-block;
    font-size: 4em;
    font-weight: 800;
    color: black;
    overflow: hidden;
  } */
  .link2 {
    position: relative;
    display: inline-block;
    font-size: 1em;
    font-weight: 800;
    color: black;
    overflow: hidden;
  }
Body {
    max-height: 300px;
}
#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
 text-align: center;
}
.link {
    font-size: 4em;
    font-weight: 800;
    background:
       linear-gradient(
         to right,
         var(--mainColor) 0%,
         var(--mainColor) 5px,
         transparent 5px
       );
    background-repeat: repeat-x;
    background-size: 100%;
    color: #000;
    padding-left: 10px;
    text-decoration: none;
  }
 .link:hover {
    background:
       linear-gradient(
         to right,
         var(--mainColor) 0%,
         var(--mainColor) 5px,
         transparent
       );
  }
#bodyText {
  font-size: 40px;
  margin: auto;
  margin-right: 60%;
  margin-left: 10px;
}
@media (max-width: 1000px) {
.link {
    position: relative;
    display: inline-block;
    font-size: 5em;
    font-weight: 800;
    color: black;
    overflow: hidden;
  }
#buyBox {
    width: 30%;
    float: left;
    height: Auto;
    text-align: center;
    margin: 100px;
    margin-top: 0px;
}
#sellBox {
    margin: 30px;
    text-align: center;
    width: 30%;
    float: left;
    height: 200px;
    margin-top: 0px;
}
#categoryBox {
  text-align: center;
  width: 80%;
  height: 200px;
}
#categoryList {
    margin-right: 10px;
    margin-left: 20px;
    font-size: 70px;
}
#categoryh1 {
  margin-right: 20%;
  margin-left: 20%;
  font-size: 80px;
  font-weight: 700;
  overflow: hidden;
  width: 80%;
  text-decoration: solid underline;
}
.link2 {
  position: relative;
  display: inline-block;
  font-size: 1.5em;
  margin-left: 20%;
  font-weight: 800;
  color: black;
  overflow: hidden;
}
}